<h1 class="text-3xl font-bold text-gray-800 mb-8">Editando Usuario</h1>

<div class="bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4">
  <%= render "form", detail: @user %>
</div>

<div class="mt-6">
  <%= link_to "Cancelar", @user, class: "px-4 py-2 rounded border border-red-500 text-red-500 hover:bg-red-500 hover:text-white transition duration-300" %>
  <%= link_to "Volver a usuarios", users_path, class: "px-4 py-2 rounded border border-blue-500 text-blue-500 hover:bg-blue-500 hover:text-white transition duration-300 ml-4" %>
</div>
