<div id="<%= dom_id minor %>">

  <%= render 'shared/company_data', object: minor %>

  <p>
    <strong>Empresa mandante:</strong>
    <%= link_to minor.principal.name, principal_path(minor.principal) %>
  </p>

</div>

<div>
  <% if controller_name == 'minors' && action_name == 'index' %>
    <%= link_to 'Ver empresa', minor_path(minor), 'data-turbo-frame':"_top" %>
  <% end %>
</div>