<div id="<%= dom_id group %>">
  <div>
    <h2><%= "Grupo #{group.number}" %></h2>
  </div>

  <div>
    <h3>Reglas de aprobación:</h3>
    <ul>
      <% group.rules.each do |rule| %>
        <li><%= rule.point %></li>
      <% end %>
    </ul>
  </div>

</div>
