<div class="max-w-xl mx-auto p-5 bg-white rounded-lg shadow">
  <h1 class="text-3xl font-bold text-gray-800 mb-6">Crear Nueva Clasificación</h1>

  <%= render "form", group: @group %>

  <div class="mt-6">
    <%= link_to "Volver a clasificaciones", groups_path, class: "inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-gray-600 bg-white hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" %>
  </div>
</div>
