
<%= render @group %>

<div>
  <h3>Defectos a revisar:</h3>
  <ul>
    <% @group.rules.each do |rule| %>
      <li><%= "#{rule.code} #{rule.point}" %></li>

  <% end %>
  </ul>
</div>
<div>
  <%= link_to "Volver a clasificaciones", groups_path %>
  <br>
  <%= link_to 'Eliminar clasificación', group_path(@group), data:
    {turbo_method: :delete,
     turbo_confirm: '¿Estás seguro? El asignar defectos a un grupo es un proceso muy tedioso'} if Current.user.admin? %>
</div>
