<h1>Modificar Empresa Mandante</h1>

<%= render "form", principal: @principal %>

<br>

<div>
  <%= link_to "Cancelar", @principal %> |
  <%= link_to "Volver a empresas mandantes", principals_path %>
</div>
