<h1>Editing principal</h1>

<%= render "form", principal: @principal %>

<br>

<div>
  <%= link_to "Show this principal", @principal %> |
  <%= link_to "Back to principals", principals_path %>
</div>
