
<%= render @principal %>

<br>
<br>
<div>
  <%= link_to "Modificar empresa", edit_principal_path(@principal) if Current.user.admin %>
</div>


<div>
  <%= link_to 'Eliminar empresa', principal_path(@principal), data:
    {turbo_method: :delete,
     turbo_confirm: 'Estás seguro?'} if Current.user.admin? %>
</div>

<div>

  <%= link_to "Volver a empresas", principals_path %>
</div>


