<p style="color: green"><%= notice %></p>

<h1>Revisions</h1>

<div id="reports">
  <% @revisions.each do |revision| %>
    <%= render revision %>
    <p>
      <%= link_to "Ver detalles", revision_path(id: revision.id, inspection_id: revision.inspection_id) %>
    </p>
  <% end %>
</div>
