<h1>Revisión N° <%= @revision.inspection_id %></h1>
<h2>Defectos Encontrados</h2>

<% @revision.flaws.each_with_index do |flaw, index| %>
  <p>
    <strong>Defecto:</strong>
    <%= @revision.codes[index] %>
    <%= flaw %>
    <%= @revision.level[index] %>
  </p>

  <!-- Add more fields as needed -->
<% end %>