<h1>Revisión N° <%= @revision.inspection_id %></h1>
<h2>Defectos Encontrados</h2>

<% @revision.flaws.each do |flaw| %>
  <p>
    <strong>Defecto:</strong>
    <%= flaw.code %>
    <%= flaw.point %>
    <%= flaw.level %>
  </p>
<% end %>