<h1>Revisión:</h1>

<h1>Defectos del Grupo <%= @group.number %></h1>

<% @rules.each do |rule| %>
  <p>
    <strong>Defecto:</strong>
    <%= rule.code %>
    <%= rule.point %>
    | Nivel de importancia:
    <%=  display_rule_level(rule) %>
  </p>
  <!-- Add more fields as needed -->
<% end %>