<%= link_to home_path do%>
<h1>Chilena de Certificaciones</h1>
<% end %>


<%= link_to 'login', new_session_path unless Current.user %>
<%= link_to 'Usuarios' , users_path if Current.user&.admin %>
<%= link_to 'logout', session_path(Current.user.id), data: {turbo_method: :delete,
                                           turbo_confirm: 'Confirmar'} if Current.user%>