<%= form_with url: form_url, method: :get, local: true, scope: :q, data: { controller: "search", action: "search#toggleClearButton", search_target: "form" } do |form| %>
  <%= form.search_field search_keys, placeholder: 'Search', onchange: 'this.form.requestSubmit()', value: params.dig(:q, search_keys), data: { search_target: "searchField" } %>
  <%= form.button 'Search', type: 'submit' %>

  <div data-search-target="clearButton" style="display: none;">
    <%= link_to 'Clear', form_url, method: :get, class: 'btn btn-default', data: { action: "click->search#resetSearch" } %>
  </div>
<% end %>
