
<h1>Defectos de escaleras mecánicas</h1>

<br>




<div>
  <%= link_to 'Volver a clasificación de ascensores', groups_path %>
</div>

<div>
  <%= link_to 'Importar defectos desde excel', new_import_ladders_path %>
</div>

<br>
<div>
  <%= link_to 'Ver defectos de ascensores', rules_path %>
</div>
<br>

  <div id="ladders" class="min-w-full">
    <%= render @ladders %>
  </div>
</div>
