<div id="<%= dom_id(ruletype) %>" class="bg-gray-800 p-4 rounded-lg shadow-md">
  <p class="text-gray-300">
    <strong class="text-white font-bold">Comprobación:</strong>
    <%= ruletype.gygatype_number %> <%= ruletype.rtype %>
  </p>

  <% if controller_name == 'ruletypes' && action_name == 'index' %>
    <div class="mt-4">
      <%= link_to 'Ver detalles', ruletype_path(ruletype), class: "px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition duration-300", 'data-turbo-frame':"_top" %>
    </div>
  <% end %>
</div>
