<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 my-8">


  <%= render @ruletype %>

  <div class="bg-gray-800 p-6 rounded-lg shadow-md text-gray-300 mt-4">
    <p><strong class="text-white">Conjunto al que pertenece:</strong> <%= @ruletype.gygatype %></p>
    <div class="flex flex-wrap justify-start space-x-2 mt-4">
      <div class="lg:w-auto flex flex-col space-y-2">

        <% if Current.user&.admin %>
          <%= link_to 'Eliminar Comprobación', ruletype_path(@ruletype), class: "px-4 py-2 rounded bg-red-600 text-gray-900 font-bold hover:bg-red-700 transition duration-300 mt-4", data: { controller: "delete-confirmation", action: "click->delete-confirmation#deleteItem", delete_confirmation_redirect_url_value: "/ruletypes" } %>

        <% end %>
        <%= link_to "Volver a comprobaciones", ruletypes_path, class: "px-4 py-2 rounded bg-gray-500 text-gray-900 font-bold hover:bg-gray-600 transition duration-300 mt-4" %>

      </div>
    </div>
  </div>

</div>




