<h1>Reglas</h1>

<% @rules.each do |rule| %>
  <p><%= link_to rule.point, rule %></p>
<% end %>

<div>
  <%= link_to 'Crear nueva regla', new_rule_path %>

</div>

<div>
  <%= link_to 'Volver a clasificación de ascensores', groups_path %>
</div>

<div>
  <%= link_to 'Tipos de reglas', ruletypes_path %>
</div>
