<h1>Defectos</h1>

<% @rules.each do |rule| %>
  <p><%= link_to "#{rule.code} #{rule.point}", rule %></p>
<% end %>

<div>
  <%= link_to 'Definir nuevo defecto', new_rule_path %>

</div>

<div>
  <%= link_to 'Volver a clasificación de ascensores', groups_path %>
</div>

<div>
  <%= link_to 'Comprobaciones', ruletypes_path %>
</div>
