<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 my-8">
  <h1 class="text-3xl font-bold text-gray-800 mb-8">Definir nuevo defecto</h1>

  <div class="bg-gray-800 shadow-md rounded-lg px-8 pt-6 pb-8 mb-4">
    <%= render 'form' %>
  </div>

  <div class="text-center mt-4">
    <%= link_to 'Volver a defectos', rules_path, class: "px-4 py-2 rounded bg-blue-500 text-white hover:bg-blue-600 transition duration-300" %>

  </div>
</div>
