<p style="color: green"><%= notice %></p>

<h1>Reports</h1>

<%= link_to "Crear nueva inspección", new_inspection_path %>

<div id="reports">
  <% @reports.each do |report| %>
    <%= render report %>
    <p>
      <%= link_to "Show this report", report %>
    </p>
  <% end %>
</div>

