<p style="color: green"><%= notice %></p>

<%= render @report %>

<div>
  <%= link_to "Modificar datos de informe", edit_report_path(@report) %> |
  <%= link_to "Volver atrás", reports_path %>

</div>
